[user]
	name = Brian Hogan
	email = brianhogan@napcs.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
  fit = !git reset --hard HEAD && git clean -f -d
  cb = !git checkout -b
  pb = !git push origin $(git branch --show-current)
  topcommits = !git shortlog -sne
  statsby = "!f() { git log --pretty=tformat: --numstat --author=$1; }; f"
  commitsby = "!f() { git log -p --author=$1; }; f"
  co = "!f() { git checkout $(git branch --all | fzf); }; f"
	diffmain = diff origin/main...HEAD

[core]
	autocrlf = input
	excludesfile = /Users/brianhogan/.gitignore
  pager = delta
[push]
	default = current

;[transfer]
        ;fsckobjects = true
;[fetch]
        ;fsckobjects = true
;[receive]
        ;fsckObjects = true
[credential]
	helper = osxkeychain

[pull]
	ff = only

[init]
	defaultBranch = main

[core]

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
