.DS_Store
.ssh/
.vim/bundle
.vim/plugin
.vim/vimrc_private
.vim/vundle_private
.vim/eclim
.bash_private
.config/ranger/history
.config/ranger/bookmarks
.config/ranger/tagged
.config/doctl

.config/configstore/
.config/htop
